absl-py==0.4.1
alabaster==0.7.11
alembic==1.0.10
appdirs==1.4.3
anaconda-client==1.2.2
asn1crypto==0.24.0
astor==0.7.1
astroid==2.0.4
astropy==3.0.4
atari-py==0.2.6
atomicwrites==1.3.0
attrs==19.1.0
autograd==1.3
Automat==0.7.0
Babel==2.7.0
backcall==0.1.0
backports.shutil-get-terminal-size==1.0.0
bcolz==0.12.1
blaze==0.10.1
beautifulsoup4==4.6.3
bitarray==0.8.3
bkcharts==0.2
bleach==2.1.4
bokeh==0.13.0
boto==2.49.0
Bottleneck==1.2.1
Brotli==1.0.7
cachetools==4.0.0
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
click==7.1.1
cloudpickle==1.3.0
clyent==1.2.1
colorama==0.3.9
colorlog==4.0.2
comtypes==1.1.7
conda==4.3.16
conda-build==2.1.5
configparser==3.8.1
constantly==15.1.0
contextlib2==0.5.5
cryptography==2.7
cycler==0.10.0
cyordereddict==0.2.2
Cython==0.28.5
cytoolz==0.9.0.1
dash==1.13.3
dash-core-components==1.10.1
dash-html-components==1.0.3
dash-renderer==1.5.0
dash-table==4.8.1
dask==0.19.2
datashape==0.5.2
decorator==4.4.0
defusedxml==0.6.0
dill==0.3.1.1
dimod==0.9.1
distlib==0.3.0
distributed==1.23.2
docutils==0.14
dwave-cloud-client==0.7.2
dwave-hybrid==0.4.3
dwave-inspector==0.1.5
dwave-neal==0.5.4
dwave-networkx==0.8.6
dwave-ocean-sdk==2.1.1
dwave-qbsolv==0.3.0
dwave-system==0.9.4
dwave-tabu==0.2.2
dwavebinarycsp==0.1.2
edx-dl==0.1.10
empyrical==0.5.0
entrypoints==0.2.3
et-xmlfile==1.0.1
fastcache==1.0.2
filelock==3.0.12
find==2019.4.13
Flask==1.1.2
Flask-Compress==1.5.0
Flask-Cors==3.0.8
Flask-Login==0.5.0
future==0.17.1
fxcmpy==1.2.4
gast==0.2.0
gevent==1.3.6
glob2==0.6
google-auth==1.11.0
greenlet==0.4.15
grpcio==1.12.1
gunicorn==20.0.4
gym==0.17.1
h5py==2.8.0
heapdict==1.0.0
homebase==1.0.1
html5lib==1.0.1
hyperlink==19.0.0
idna==2.7
imageio==2.4.1
imagesize==1.1.0
importlib-metadata==1.5.0
importlib-resources==1.4.0
incremental==17.5.0
inflection==0.3.1
intervaltree==2.1.0
investpy==0.9.14
ipykernel==4.10.0
ipython==6.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.4
itsdangerous==0.24
jdcal==1.4.1
jedi==0.12.1
Jinja2==2.11.2
joblib==0.14.1
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterlab==0.34.9
jupyterlab-launcher==0.13.1
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
keyring==13.2.1
Kivy==2.0.0
Kivy-Garden==0.1.4
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
llvmlite==0.24.0
locket==0.2.0
Logbook==1.5.3
lru-dict==1.1.4
lxml==4.5.0
Mako==1.0.10
Markdown==2.6.11
MarkupSafe==1.0
marshmallow==3.6.0
matplotlib==3.0.0
mccabe==0.6.1
menuinst==1.4.14
MetaTrader5==5.0.31
minorminer==0.1.9
mistune==0.8.3
mkl-fft==1.0.6
mkl-random==1.0.1
more-itertools==4.3.0
mpl-finance==0.10.0
mpmath==1.0.0
msgpack==0.5.6
multilayer-surface-plasmon==0.1.2
multipledispatch==0.6.0
mysql-connector-python==8.0.19
navigator-updater==0.2.1
nbconvert==5.5.0
nbformat==4.4.0
ndg-httpsclient==0.5.1
networkx==2.3
nltk==3.3
nose==1.3.7
notebook==5.6.0
numba==0.39.0
numexpr==2.6.8
numpy==1.18.3
numpydoc==0.9.1
odo==0.5.1
olefile==0.46
onnx==1.5.0
opencv-contrib-python==4.0.0.21
opencv-python==4.2.0.32
openpyxl==2.6.2
ortools==7.1.6722
packaging==17.1
pandas==0.25.3
pandas-datareader==0.6.0
pandocfilters==1.4.2
parso==0.4.0
partd==0.3.10
path.py==11.1.0
pathlib2==2.3.2
patsy==0.5.0
penaltymodel==0.16.3
penaltymodel-cache==0.4.1
penaltymodel-lp==0.1.3
penaltymodel-mip==0.2.3
PennyLane==0.8.1
pep8==1.7.1
pickleshare==0.7.4
Pillow==8.3.2
pkginfo==1.4.2
plotly==4.8.1
plucky==0.4.3
pluggy==0.13.1
ply==3.11
prometheus-client==0.3.1
prompt-toolkit==1.0.15
protobuf==3.11.3
psutil==5.4.7
public==2019.4.13
pubnub==4.1.6
py==1.6.0
py4j==0.10.7
pyasn1==0.4.5
pyasn1-modules==0.2.2
pycodestyle==2.4.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycryptodomex==3.9.4
pycurl==7.43.0.2
pyflakes==2.0.0
pyglet==1.5.0
Pygments==2.4.2
pygpu==0.7.6
PyHamcrest==1.9.0
pylint==2.1.1
pymongo==3.10.1
pyodbc==4.0.24
pyOpenSSL==18.0.0
pyparsing==2.4.0
pyqubo==0.4.0
PySocks==1.6.8
pyspark==2.4.5
pytest==5.4.2
pytest-arraydiff==0.2
pytest-astropy==0.4.0
pytest-doctestplus==0.5.0
pytest-openfiles==0.3.0
pytest-remotedata==0.3.0
python-constraint==1.4.0
python-dateutil==2.7.3
python-editor==1.0.4
pytils==0.3
pytz==2019.1
PyWavelets==1.0.0
pywin32==223
pywinpty==0.5.4
PyYAML==3.13
pyzmq==17.1.2
QtAwesome==0.5.7
qtconsole==4.5.1
QtPy==1.7.1
Quandl==3.4.8
requests==2.22.0
requests-file==1.4.3
requests-ftp==0.3.1
retrying==1.3.3
rope==0.14.0
rsa==4.0
ruamel-yaml==0.15.46
scikit-image==0.14.0
scikit-learn==0.21.3
scipy==1.1.0
seaborn==0.9.0
semantic-version==2.6.0
Send2Trash==1.5.0
service-identity==17.0.0
simple-tensorflow-serving==0.6.6
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.14.0
sklearn==0.0
snowballstemmer==1.2.1
socketIO-client==0.7.2
sortedcollections==1.0.1
sortedcontainers==2.0.5
spark==0.2.1
Sphinx==2.1.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
spyder==3.3.1
spyder-kernels==0.2.6
SQLAlchemy==1.2.11
statsmodels==0.9.0
sympy==1.2
tables==3.4.4
TBB==0.1
tblib==1.4.0
tensorboard==1.12.2
tensorflow==1.10.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
Theano==1.0.2+2.gc449c8699
toml==0.10.0
tools==0.1.9
toolz==0.9.0
torch==1.4.0
torchvision==0.5.0
tornado==5.1.1
tqdm==4.32.1
trading-calendars==1.5.1
traitlets==4.3.2
Twisted==18.7.0
typed-ast==1.1.0
typing==3.7.4
typing-extensions==3.7.4
udemy-dl==0.2.1
unicode-slugify==0.1.3
unicodecsv==0.14.1
Unidecode==1.1.1
urllib3==1.23
user-agent==0.1.9
virtualenv==20.0.23
wcwidth==0.1.7
webencodings==0.5.1
weblib==0.1.30
websocket-client==0.56.0
Werkzeug==0.15.4
widgetsnbextension==3.4.1
win-inet-pton==1.0.1
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.10.11
xlrd==1.1.0
XlsxWriter==1.1.8
xlwings==0.11.8
xlwt==1.3.0
youtube-dl==2019.3.18
zict==0.1.3
zipline==1.3.0
zipp==1.1.0
zope.interface==4.5.0
