{% extends 'base.html' %}

{%block bodyblock %}

        <div class="container">
            <br><br>
            <h3 class="content"> Hi <span style="color:#198b90">FreeAI.s p a c e</span></h3>
        <br>
            <p>
                This is a classifier page i built thanks to a Udemy course taught by FreeAI which is a data driven company. It's
                not a very good app but it's my first try at it so i'm quite pleased. I'll work on it some more to make it better. Even <thead>
                  Frontend isn't too appealing.
                </thead>
            </p>
        </div>

{% endblock  %}
